<div class="field">
  <%= f.label :height %><br />
  <%= f.text_field :height %>
</div>

<div class="field">
  <%= f.label :happiness %><br />
  <%= f.text_field :happiness %>
</div>

<div class="field">
  <%= f.label :nausea %><br />
  <%= f.text_field :nausea %>
</div>

<div class="field">
  <%= f.label :tickets %><br />
  <%= f.text_field :tickets %>
</div>

<div>
  <%= check_box('user', 'admin') %>
  <%= label_tag(:admin, "I am an admin") %>
</div>
